<header class="header">
  <div class="container header-inner">
    <a href="/" class="logo">AUTONOMY BRIDGE</a>
    <nav>
      <a href="/research">Research &amp; Advisory</a>
      <a href="/use-cases">Use Cases</a>
      <a href="/about">About</a>
    </nav>
  </div>
</header>
